{
  "keywords": [],
  "telegram": {
    "api_hash": "",
    "api_id": "",
    "chats": []
  },
  "redis-url": "redis://redis",
  "rabbitmq-url": "amqp://guest:guest@rabbitmq/",
  "session_name": ""
}
