{
    "client_id": "",
    "client_secret": "",
    "redirect_uri": "",
    "username": "",
    "password": "",

    "keywords" : [],

    "redis_url": "rediss://:password@hostname:port/0",
    
    "delay": 30
}