{
    "client_id": "",
    "client_secret": "",
    "redirect_uri": "",
    "username": "",
    "password": "",
    "keywords" : [],
    "redis_url": "redis://:@redis:6379/0",
    "rabbitmq_url": "amqp://guest:guest@rabbitmq/",
    "delay": 30
}