{
  "keywords": {
  "target_type": "posts",
  "order": "relevance",
  "q": "python"
  },
  "redis": {
    "host": "127.0.0.1",
    "port": 6379,
    "password": ""
  },
  "delay": 5,
  "required_page_number": 1
}
