{ "keywords":
    ["barbie girl", "editor-js codex"],
  "delay": 30,
  "required_page_number": 1,
  "page_delay": 1,
  "redis-url": "redis://redis",
  "rabbitmq-url": "amqp://guest:guest@rabbitmq/"
}
